<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">{{service_name}}</name>
  <service protocol="ipv4">
    <type>_{{service_type}}._tcp</type>
    <port>{{port}}</port>
    {{txt_records}}
  </service>
</service-group>
